{% extends 'base.html' %}
{% load i18n sizeformat %}
{% block title %}{% trans "Project Usage Overview" %}{% endblock %}

{% block page_header %}
  <div class='page-header'>
    <h2>{% trans "Project Usage" %}</h2>
  </div>
{% endblock %}

{% block main %}
  {% include "horizon/common/_usage_summary.html" %}
  <a href="http://graphite.dair-atir.canarie.ca/grafana/#/dashboard/script/dair-project.js?project={{ request.user.tenant_id }}">View Historical Usage Graph (External Link)</a>
  {{ table.render }}
{% endblock %}
